<footer class="lg:px-3 border-t border-gray-200">
  <div class="container mx-auto px-4">
    <!-- Logo & Social Links -->
    <div class="flex flex-col gap-4 md:flex-row md:justify-between md:items-center py-5">
      <app-logo />
      <app-social-links />
    </div>

    <!-- Bottom Footer -->
    <div class="py-4 border-t border-gray-300 flex flex-col items-center gap-2">
      <span class="text-gray-700 text-sm"> &copy; 2026 Digital Bond. All rights reserved. </span>
      <div class="flex gap-2 items-center text-gray-700 text-xs">
        <span>Made with</span>
        <svg class="text-primary" width="0.9rem" height="0.75rem" role="img" viewBox="0 0 512 512">
          <path
            fill="currentColor"
            d="M241 87.1l15 20.7 15-20.7C296 52.5 336.2 32 378.9 32 452.4 32 512 91.6 512 165.1l0 2.6c0 112.2-139.9 242.5-212.9 298.2-12.4 9.4-27.6 14.1-43.1 14.1s-30.8-4.6-43.1-14.1C139.9 410.2 0 279.9 0 167.7l0-2.6C0 91.6 59.6 32 133.1 32 175.8 32 216 52.5 241 87.1z"
          ></path>
        </svg>
        <span>for amazing experiences</span>
      </div>
    </div>
  </div>
</footer>
