<div
  role="dialog"
  aria-modal="true"
  class="fixed inset-0 bg-black/70 flex items-center justify-center z-50"
>
  <div class="bg-gradient text-white p-6 rounded-2xl max-w-sm flex flex-col items-center gap-8">
    <h2 class="text-xl font-bold flex items-center justify-center gap-2 w-full">
      Success
      <svg
        class="size-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        aria-hidden="true"
      >
        <path
          fill="currentColor"
          d="M256 512a256 256 0 1 1 0-512 256 256 0 1 1 0 512zM374 145.7c-10.7-7.8-25.7-5.4-33.5 5.3L221.1 315.2 169 263.1c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l72 72c5 5 11.8 7.5 18.8 7s13.4-4.1 17.5-9.8L379.3 179.2c7.8-10.7 5.4-25.7-5.3-33.5z"
        />
      </svg>
    </h2>

    <p class="font-semibold">
      Thanks for reaching out! We’ve received your message and will contact you soon.
    </p>

    <button
      class="px-4 py-1 bg-white hover:bg-amber-100 text-primary-dark rounded-lg font-semibold cursor-pointer self-end"
      (click)="handleClose()"
    >
      Close
    </button>
  </div>
</div>
