<div>
  <div class="flex items-center gap-3">
    <div class="relative size-8 lg:size-10">
      <img ngSrc="assets/logo.png" alt="Logo" class="object-contain" fill priority />
    </div>
    <h2 class="text-xl lg:text-2xl font-bold text-gradient font-mono">Digital Bond</h2>
  </div>

  @if (showDescription()) {
    <p class="text-sm text-gray-700 font-medium mt-4 max-w-sm">
      A digital marketing agency that mixes creativity and commitment to help brands grow beyond
      limits .
    </p>
  }
</div>
