@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #ae201d;
  --color-primary-medium: #ff342f;
  --color-primary-dark: #6b2e2e;
}

@utility bg-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary-medium) 100%
  );
}
@utility bg-gradient-light {
  background-image: linear-gradient(to right bottom, #fff7ed 0%, #ffffff 50%, #fff7ed 100%);
}
@utility btn-shadow {
  box-shadow:
    rgba(234, 88, 12, 0.25) 0px 10px 15px -3px,
    rgba(234, 88, 12, 0.25) 0px 4px 6px -4px;
}

.text-gradient {
  @apply bg-gradient bg-clip-text text-transparent;
}
.form-input {
  @apply border border-gray-200 hover:border-primary-dark focus-visible:outline-primary-dark rounded-lg py-2 px-4 transition-colors placeholder:text-sm;
}
