<header
  class="sticky backdrop-blur-md border-b border-gray-200 z-10 top-0 w-full"
  [ngClass]="
    isScrolled()
      ? 'bg-[linear-gradient(to_right_bottom,#ffffff_0%,#f6e4cf_100%)] shadow-sm'
      : 'bg-white/95'
  "
>
  <nav class="container mx-auto px-4 lg:px-8 py-3">
    <div class="flex gap-24 items-center">
      <app-logo [showDescription]="false"></app-logo>

      <button class="lg:hidden ms-auto text-primary flex cursor-pointer" (click)="toggleMenu()">
        <svg
          class="m-auto"
          width="1.5rem"
          height="1.25rem"
          data-prefix="fas"
          data-icon="bars"
          role="img"
          viewBox="0 0 448 512"
          aria-hidden="true"
          data-fa-i2svg=""
        >
          <path
            fill="currentColor"
            d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
          ></path>
        </svg>
      </button>

      <div class="hidden lg:flex flex-1 items-center">
        <ul class="flex gap-8 text-gray-700">
          <li>
            <a
              (click)="scrollTo('hero')"
              class="py-2 font-medium"
              [class.active]="activeSection() === 'hero'"
              >Home</a
            >
          </li>
          <li>
            <a
              (click)="scrollTo('services')"
              class="py-2 font-medium"
              [class.active]="activeSection() === 'services'"
              >Services</a
            >
          </li>
          <li>
            <a
              (click)="scrollTo('clients')"
              class="py-2 font-medium"
              [class.active]="activeSection() === 'clients'"
              >Testimonials</a
            >
          </li>
          <li>
            <a
              (click)="scrollTo('contact')"
              class="py-2 font-medium"
              [class.active]="activeSection() === 'contact'"
              >Contact Us</a
            >
          </li>
        </ul>

        <a
          (click)="scrollTo('contact')"
          class="ms-auto rounded-full cursor-pointer bg-gradient text-white font-medium px-4 py-2 hover:btn-shadow hover:text-white! transition-shadow"
        >
          Get Started
        </a>
      </div>
    </div>

    @if (isMenuOpen()) {
      <!-- Mobile Menu -->
      <div class="lg:hidden flex flex-col py-4 space-y-4 text-gray-700">
        <a
          (click)="scrollTo('hero')"
          class="font-medium"
          [class.active]="activeSection() === 'hero'"
          >Home</a
        >
        <a
          (click)="scrollTo('services')"
          class="font-medium"
          [class.active]="activeSection() === 'services'"
          >Services</a
        >
        <a
          (click)="scrollTo('clients')"
          class="font-medium"
          [class.active]="activeSection() === 'clients'"
          >Testimonials</a
        >
        <a
          (click)="scrollTo('contact')"
          class="font-medium"
          [class.active]="activeSection() === 'contact'"
          >Contact Us</a
        >
      </div>
    }
  </nav>
</header>
